/* Fondo del escritorio */
body {
  background: url('Resources/wallpaper.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Escritorio con iconos */
#desktop {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}

/* Iconos del escritorio */
.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin: 15px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease;
  /* Añadir transición suave */
}

.desktop-icon:hover {
  transform: scale(1.1);
  /* Agrandar ligeramente el icono al hacer hover */
}

.desktop-icon img {
  width: 50px;
  height: 50px;
}

.desktop-icon p {
  font-size: 14px;
  color: white;
  margin-top: 5px;
}

/* Resaltar el idioma actual */
.active-language {
  color: yellow !important;
  /* Amarillo */
  font-weight: bold;
  /* Opcional: Hacer el texto más grueso */
}

/* Ventana de la terminal */
#terminal-container {
  display: none;
  width: 800px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.85);
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Barra de título de la terminal */
.terminal-header {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Icono de terminal y botón de cierre */
.terminal-icon {
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.close-btn:hover {
  color: darkred;
}

/* Área de salida de la terminal */
#terminal-output {
  padding: 10px;
  font-size: 16px;
  white-space: pre-wrap;
  height: calc(100% - 30px);
  overflow-y: auto;
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Aplicar parpadeo a la opción seleccionada */
.terminal-selected {
  animation: blink 1.5s infinite;
}

/* Ventana modal (Visor de Texto) */
#text-viewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.95);
  color: white;
  border: 2px solid white;
  padding: 20px;
  width: 600px;
  height: 400px;
  overflow: auto;
  white-space: pre-wrap;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  display: none;
}

/* Clases de visibilidad */
.hidden {
  display: none;
}

.visible {
  display: block;
}